
<div class="container mt-5">
        <div class="row row1">
            <img src="/images/lap.png" class="hello1" alt="">
        </div>
        <div class="mt-5 row row2">
            <a asp-action="Blog1" asp-controller="Blog"><img src="/images/ip14.jpg" alt=""></a>
            <div class="bottom-left">
                Tổng hợp iPhone 14 Plus thông số, cấu hình chi tiết <br>
                <p class="mt-3"><p1>Trần Thúy</p1> - 24/10/2022 </p>
            </div>
            
        </div>

    </div>
    <div class="slider-area mt-5">
        <div class="bontainer">

            <div id="carouselExampleCaptions" class="carousel slide">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="bkg-color">
                            <div class="color">
                                <img src="/images/testimo1.png" class="d-block" alt="">
                                
                                <div class="carousel-caption">
                                    
                                    <div class="name1">
                                        <span class="sp">JHON WHITE - Designer
                                        </span>
                                    </div>
                                    <h6>WHAT THE CLIENTS SAY </h6>
                                    <div class="hello">
                                        <p5>Sản phẩm tốt, dùng rất thoải mái.</p5>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="bkg-color1">
                            <img src="/images/testimo2.png" class="d-block" alt="...">
                        </div>
                        <div class="carousel-caption">
                            <div class="name1">
                                <span class="sp">JHON WHITE - Designer
                                </span>
                            </div>
                            <h6>WHAT THE CLIENTS SAY </h6>
                            <div class="hello">
                                <p5>Máy mượt, hàng chuẩn, giao hàng nhanh</p5>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="bkg-color2">
                            <img src="/images/testimo3.png" class="d-block" alt="...">
                        </div>
                        <div class="carousel-caption">
                            <div class="name1">
                                <span class="sp">JHON WHITE - Designer
                                </span>
                            </div>
                            <h6>WHAT THE CLIENTS SAY </h6>
                            <div class="hello">
                                <p5>Máy đẹp, shop hỗ trợ nhiệt tình, đóng gói cẩn thận. Sẽ ủng hộ lâu dài</p5>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>

                </div>
            </div>
        </div>
    </div>

    <div class="position-04">
        <div class="container">
            <div class="row">
                <div class="blog-home">
                    <div class="title-h">
                        <span>LATEST NEWS</span>
                    </div>
                    <div class="row">
                        <div class="item item-1 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                            <div class="box-1">
                                <a href=""><img src="/images/image1.png" alt="" /></a>
                            </div>
                            <div class="box-2" style="background-color: #009cde;">
                                <span class="title">LOREM IPSUM DOLOR SIT AMET CONSE</span>
                                <span class="std">Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do
                                    eiusmod tempor incididunt ut labore et dolore magna.</span>
                                <span class="date"><i class="bi bi-calendar3"></i> 29 Dec 2022</span>
                                <span class="cmt"><i class="bi bi-chat-dots"></i> 9 Comments</span>
                            </div>
                        </div>
                        <div class="item item-2 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                            <div class="box-1">
                                <a asp-action="Blog2" asp-controller="Blog"><img src="/images/image2.png" alt="" /></a>
                            </div>
                            <div class="box-2" style="background-color: #ffd429;">
                                <span class="title">
                                    LÝ DO HP VICTUS 16 HẤP DẪN GIỚI SÁNG TẠO
                                </span>
                                <span class="std">Nhờ tính di động và hiệu năng cao, laptop HP Victus 16 đang ngày càng phổ biến trong giới sáng tạo nội dung, thiết kế đồ họa</span>
                                <span class="date"><i class="bi bi-calendar3"></i> 29 Dec 2022</span>
                                <span class="cmt"><i class="bi bi-chat-dots"></i> 9 Comments</span>
                            </div>
                        </div>
                        <div class="item item-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                            <div class="box-1">
                                <a href="#"><img src="/images/image3.png" alt="" /></a>
                            </div>
                            <div class="box-2" style="background-color: #f44336;">
                                <span class="title">LOREM IPSUM DOLOR SIT AMET CONSE</span>
                                <span class="std">Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do
                                    eiusmod tempor incididunt ut labore et dolore magna.</span>
                                <span class="date"><i class="bi bi-calendar3"></i> 29 Dec 2022</span>
                                <span class="cmt"><i class="bi bi-chat-dots"></i> 9 Comments</span>
                            </div>
                        </div>
                        <div class="item item-4 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                            <div class="box-1">
                                <a href="#"><img src="/images/image4.png" alt="" /></a>
                            </div>
                            <div class="box-2" style="background-color: #14d492;">
                                <span class="title">LOREM IPSUM DOLOR SIT AMET CONSE</span>
                                <span class="std">Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do
                                    eiusmod tempor incididunt ut labore et dolore magna.</span>
                                <span class="date"><i class="bi bi-calendar3"></i> 29 Dec 2022</span>
                                <span class="cmt"><i class="bi bi-chat-dots"></i> 9 Comments</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
