    <div class="container">
      <section id="faq" class="py-md-5">
          <h2 class="my-5 text-center titlefaq"><strong>Câu hỏi thường gặp</strong></h2>

          <div class="accordion w-50 mx-auto" id="accordionExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Có thể nâng cấp bộ nhớ hoặc card đồ họa trên thiết bị này không?
                  </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    Tùy thuộc vào kiểu thiết bị và thương hiệu, một số thiết bị cho phép người dùng nâng cấp bộ nhớ hoặc card đồ họa, còn một số không. Hãy kiểm tra hướng dẫn sử dụng hoặc hỏi nhân viên bán hàng.
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Thiết bị này có hỗ trợ kết nối mạng không?
                  </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    Tùy thuộc vào kiểu thiết bị, nó có thể hỗ trợ kết nối mạng qua wifi, Ethernet hoặc cả hai. Hãy kiểm tra thông số kỹ thuật hoặc hỏi nhân viên bán hàng.
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Thiết bị này có bảo hành bao lâu?
                  </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    Thời gian bảo hành sẽ khác nhau cho từng thiết bị và thương hiệu. 
                    Hãy kiểm tra thông tin bảo hành trên giấy tờ hoặc hỏi nhân viên bán hàng.
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header" id="headingFour">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    Tôi cần mua một điện thoại/laptop với bộ nhớ như thế nào?
                  </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    Số lượng bộ nhớ mà bạn cần sẽ phụ thuộc vào nhu cầu sử dụng của bạn. 
                    Nếu bạn chỉ sử dụng điện thoại/laptop để làm việc văn phòng và truy cập internet thì bộ nhớ 4GB hoặc 8GB sẽ đủ. 
                    Nếu bạn muốn chơi game và xem phim thì bạn cần bộ nhớ lớn hơn.                    </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header" id="headingFive">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    Điện thoại/Laptop có hỗ trợ 4G/5G không?
                  </button>
                </h2>
                <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    Tùy thuộc vào model của điện thoại/laptop, một số model có hỗ trợ 4G/5G, một số không hỗ trợ.               
                  </div>
                </div>
              </div>


          </div>
      </section>
  </div>
		