 <div class="container">
  
        <div class="terms-box">
          <div class="terms-text">
              <h1 class="title"><strong>Điều khoản sử dụng</strong></h1>
              <h2><strong>Chỉnh sửa lần cuối: 01/01/2022</strong></h2>
              <h2><strong>Xin chào, </strong></h2>
              <h3><strong>1.</strong> Sản phẩm điện thoại hoặc laptop được bán trên trang web chỉ được sử dụng cho mục đích cá nhân và không được cho thuê hoặc bán tiếp.</p>
              <h3><strong>2.</strong> Tất cả sản phẩm điện thoại hoặc laptop được bán trên trang web đều được bảo hành trong thời gian quy định từ ngày mua.</h3>
              <h3><strong>3.</strong> Trong trường hợp sản phẩm có lỗi, người mua có thể yêu cầu hoàn trả hoặc sửa chữa trong thời gian quy định từ ngày mua.</h3>
              <h3><strong>4.</strong> Trang web cam kết bảo mật thông tin cá nhân và thanh toán của người mua.</h3>
              <h3><strong>5.</strong> Người mua phải chịu trách nhiệm về việc sử dụng và bảo trì sản phẩm theo hướng dẫn của nhà sản xuất.</h3>
              <h3><strong>6.</strong> Trang web không chịu trách nhiệm về bất kỳ tổn thất hoặc thiệt hại do việc sử dụng sản phẩm không đúng cách.</h3>
              <h3><strong>7.</strong> Trang web có quyền thay đổi điều khoản sử dụng bất cứ lúc nào mà không cần thông báo trước.</h3>
          </div>
          <div class="form-group text-center my-3">
              <button class="btn red-btn fw-bold h4">Chấp nhận</button>
              <button class="btn gray-btn fw-bold h4">Từ chối</button>
          </div>
        </div>

    </div>