
@{
    ViewData["Title"] = "TOS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>

.terms-box {
    max-width: 100%;
    background-color: #111;
    color: #fff;
    padding: 60px 30px;
}

.terms-text {
    padding: 0 20px;
    height: 400px;
    overflow-y: auto;
    font-size: 14px;
    font-weight: 500;
    color: #f1f1f1;
}

.terms-text::-webkit-scrollbar {
    width: 10px;
    background-color: #282828;
}

.terms-text::-webkit-scrollbar-thumb {
    background-color: #d13639;
}

.terms-text h2 {
    text-transform: uppercase;
}

.buttons {
    display: flex;
    padding: 0 20px;
    justify-content: space-between;
}

.btn {
    height: 50px;
    width: calc(50% - 6px);
    border: 0;
    border-radius: 19px;
    font-weight: 500;
    color: #fff;
    transition: .3s linear;
    cursor: pointer;
}

.red-btn {
    background-color: #d13639;
}

.gray-btn {
    background-color: #282828;
}

.btn:hover {
    opacity: .6;
}
</style>
<div class="container">
        <div class="terms-box">
            <div class="terms-text">
                <h2>Điều khoản sử dụng</h2>
                <p>Chỉnh sửa lần cuối: 01/01/2022</p>
                <p>Xin chào, </p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed labore quibusdam eligendi animi, odit nostrum in quisquam corrupti officiis aliquam beatae obcaecati consequuntur quam voluptatem sunt sit perferendis. Voluptas, quaerat corporis ab at ullam maiores necessitatibus sequi vitae error porro quam possimus eius laboriosam asperiores facilis nam odio temporibus quia.</p>
                <p>Et at aspernatur ea quo inventore consequuntur tempore tempora ipsa id, pariatur, velit, voluptas earum provident harum dignissimos asperiores delectus quae dolores! A consectetur, porro quas cumque doloremque, aut ipsa laborum, sapiente est adipisci nihil sunt quam amet quasi qui optio ut veniam tempora rerum minus veritatis accusamus distinctio. Quibusdam!</p>
                <p>Odit repellendus impedit perspiciatis aspernatur voluptas esse error? Aliquid in earum quae magnam accusamus doloribus velit aperiam saepe. Aliquam sunt reprehenderit quia maiores minus commodi libero accusantium laboriosam magnam, earum, voluptatem saepe fugiat qui hic nulla animi corporis ab ipsam ratione in itaque fugit optio. Laboriosam, nam nemo. Corporis, quidem?</p>
                <p>Deserunt officia, sit sint animi officiis incidunt tempore odio delectus quod vitae dolorem mollitia natus aspernatur sed architecto nesciunt veritatis recusandae id odit optio commodi quibusdam hic! Distinctio facere nobis maiores suscipit a perspiciatis fugit doloribus mollitia commodi qui ad facilis at tempora excepturi, in pariatur officiis molestiae aspernatur architecto.</p>
                <p>Optio, et assumenda, repellendus, velit aperiam alias similique ea impedit corrupti sint eius ipsum iure? Ut error perspiciatis quasi, reiciendis dolorem in veritatis labore rerum tempore. Natus illo blanditiis ea et doloremque expedita tempore dignissimos quia laborum ullam laudantium aliquid, repellendus aspernatur debitis odit ipsum placeat similique cupiditate! Eaque, obcaecati!</p>
                <p>Enim laudantium qui inventore expedita suscipit sed reiciendis totam. Possimus deserunt eaque officiis atque voluptatibus impedit sapiente, quos assumenda voluptates eius non ad provident amet, praesentium debitis et? Fuga eum nostrum quasi amet similique debitis facilis provident dicta minima odio reiciendis et quisquam, necessitatibus officia esse explicabo. Soluta, dolor explicabo!</p>
            </div>
            <div class="button">
                <button class="btn red-btn">Chấp nhận</button>
                <button class="btn gray-btn">Từ chối</button>
            </div>
        </div>
    </div>

