<div class="card text-center qmkform pb-3" style="box-shadow:0 0 5px;">
	<div class="h4 bg-primary card-header fw-bold p-3 text-white"><i class="bi bi-plus-square"></i> Thêm voucher mới</div>
	<div class="card-body">
		<form id="formqmk">
		
		<div class="form-group mb-3 text-start">
				<label  for="nguoinhan" class="control-label h4"><i class="bi bi-ticket-detailed"></i> Mã voucher</label>
				<input required id="nguoinhan" type="text"  class="form-control fc h4 w-100" />
			</div>
				<div class="form-group mb-3 text-start">
				<label  for="giamgiavc" class="control-label h4"><i class="bi bi-tag"></i> Giảm giá</label>
				<input required id="giamgiavc" type="number" class="form-control fc h4 w-100" />
			</div>
		<div class="d-flex align-items-center">
			<button class="btn btn-success w-100  fw-bold" id="gmxnbtn" type="submit">Thêm</button>
		</div>
		</form>
	</div>
</div>
<script>

</script>