@model FinalProject.Models.Voucher

<form asp-action="Edit" asp-route-id="@Model?.Voucher1">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Voucher1" class="control-label"></label>
        <input asp-for="Voucher1" class="form-control" />
        <span asp-validation-for="Voucher1" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="GiamGia" class="control-label"></label>
        <input asp-for="GiamGia" class="form-control" />
        <span asp-validation-for="GiamGia" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" style="margin-top:10px;"/>
    </div>
</form>


