@model FinalProject.Models.Phone

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Phone</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ten" class="control-label"></label>
                <input asp-for="Ten" class="form-control" />
                <span asp-validation-for="Ten" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hang" class="control-label"></label>
                <input asp-for="Hang" class="form-control" />
                <span asp-validation-for="Hang" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gia" class="control-label"></label>
                <input asp-for="Gia" class="form-control" />
                <span asp-validation-for="Gia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ManHinh" class="control-label"></label>
                <input asp-for="ManHinh" class="form-control" />
                <span asp-validation-for="ManHinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Os" class="control-label"></label>
                <input asp-for="Os" class="form-control" />
                <span asp-validation-for="Os" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CameraSau" class="control-label"></label>
                <input asp-for="CameraSau" class="form-control" />
                <span asp-validation-for="CameraSau" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CameraTruoc" class="control-label"></label>
                <input asp-for="CameraTruoc" class="form-control" />
                <span asp-validation-for="CameraTruoc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NhuCau" class="control-label"></label>
                <input asp-for="NhuCau" class="form-control" />
                <span asp-validation-for="NhuCau" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Chip" class="control-label"></label>
                <input asp-for="Chip" class="form-control" />
                <span asp-validation-for="Chip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ram" class="control-label"></label>
                <input asp-for="Ram" class="form-control" />
                <span asp-validation-for="Ram" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rom" class="control-label"></label>
                <input asp-for="Rom" class="form-control" />
                <span asp-validation-for="Rom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pin" class="control-label"></label>
                <input asp-for="Pin" class="form-control" />
                <span asp-validation-for="Pin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThietKe" class="control-label"></label>
                <input asp-for="ThietKe" class="form-control" />
                <span asp-validation-for="ThietKe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImagePath" class="control-label"></label>
                <input asp-for="ImagePath" class="form-control" />
                <span asp-validation-for="ImagePath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

