@model FinalProject.Models.Phone

@{
    ViewData["Title"] = "Details";
}
<div class="text-center container">
   
</div>
<div>
  @*  <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |*@
    <a asp-action="Index" class="btn btn-success">Quay lại mua hàng</a>
</div>
