*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
a{
    text-decoration:none;
}
nav, footer{
    background-color:#3D5AFE;
}
h5{
    font-weight:600;
}
.copyright{
    text-shadow:0px 0px 1px white;
    font-size:larger;
}
footer a{
    font-size:larger;
    text-decoration:none;
    color:white;
    transition:all 0.4s;
}
footer a:hover{
    color:#1A237E;   
}
.nav-item a{
    text-decoration:none;
    color:white;
    font-weight: 600;
    text-transform:uppercase; 
    margin-right:15px;  
    transition:all 0.4s;
}
.nav-item a:hover{
    color:#1A237E;  
}
.navbar-brand{
    height:50px;
    width:50px;
}
.search{
    outline:none;
    border:2px solid #0D47A1;
    background-color:transparent;
    border-radius:20px 0px 0px 20px;
    border-right:none;
}
.search:focus{
    outline:none;
    box-shadow:none;
    border:2px solid #0D47A1;
    border-right:none;
}
.btn-search{
    outline:none;
    color:white;
    background-color:#0D47A1;
    border:none;
    border-radius:0px 20px 20px 0px;
}
.btn-search:hover{
    background-color:#1A237E;
    color:white;
}
.main {
    background-image: url('../images/bg.jpg');
    background-size: cover;
    height: 100vh;
}
.navbar-brand{
    width:200px;
    float:left;
}
.items {
    transition: transform 0.5s;
    background-color: white;
    color: black;
}
.items:hover{
    transform:scale(1.1);
    color:black;
}
.minhhoa{
    display:inline;
}