
@{
    ViewData["Title"] = "Blog3";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row no-gutters">
        <div class="post-container">
            <div class="post-wrap">
                <div style="display:none" class="data__title post__title" data-id="152946" data-cate="for-gamers"></div>
                <h1 class="post__title" data-id="152946" data-cate="for-gamers"> Trên tay Lenovo IdeaPad 1 15AMN7: Laptop chạy AMD Ryzen 7000 series giá cực rẻ </h1>
                <div class="post__user border-bottom">
                    <span class="author-avatar"> <img src="./css_news1/637233405057308536_hong-leo.jpg"> </span>
                    <div>
                        <span class="author-name">Văn Hồng</span>
                        <div class="author-info"> <span class="post-time">5 ngày trước</span> <a class="post-cmt" href="https://fptshop.com.vn/tin-tuc/for-gamers/tren-tay-lenovo-ideapad-1-15amn7-152946#root-comment"><i class="demo-icon ic-chat"></i> <span id="totalCmt">0</span> <span> Hỏi &amp; Đáp</span></a> </div>
                    </div>
                </div>
                <h2 class="post__des"> Lenovo IdeaPad 1 15AMN7 có cấu hình khó tin trong tầm giá khoảng 12 triệu đồng khi trang bị bộ vi xử lý AMD Ryzen 5 7520U và RAM LPDDR5, SSD PCIe 4.0, mang tới tốc độ nhanh vượt trội. </h2>
<div class="menu-heading">
            <div class="menu-heading__title">XEM NHANH</div>
                    <ul class="menu-heading__list js--menu-heading">
                        <li class="menu-heading__item"> <a toscroll="#1161697993212" href="https://fptshop.com.vn/tin-tuc/for-gamers/tren-tay-lenovo-ideapad-1-15amn7-152946#TrentayLenovoIdeaPad115AMN7"> Trên tay Lenovo IdeaPad 1 15AMN7</a></li>
                        <li class="menu-heading__item"> <a toscroll="#890547079423" href="https://fptshop.com.vn/tin-tuc/for-gamers/tren-tay-lenovo-ideapad-1-15amn7-152946#CongketnoiLenovoIdeaPad115AMN7"> Cổng kết nối Lenovo IdeaPad 1 15AMN7</a></li>
                        <li class="menu-heading__item"> <a toscroll="#547918302430" href="https://fptshop.com.vn/tin-tuc/for-gamers/tren-tay-lenovo-ideapad-1-15amn7-152946#ManhinhLenovoIdeaPad115AMN7"> Màn hình Lenovo IdeaPad 1 15AMN7</a></li>
                        <li class="menu-heading__item"> <a toscroll="#67240782377" href="https://fptshop.com.vn/tin-tuc/for-gamers/tren-tay-lenovo-ideapad-1-15amn7-152946#BanphimLenovoIdeaPad115AMN7"> Bàn phím Lenovo IdeaPad 1 15AMN7</a></li>
                        <li class="menu-heading__item"> <a toscroll="#1449510663300" href="https://fptshop.com.vn/tin-tuc/for-gamers/tren-tay-lenovo-ideapad-1-15amn7-152946#CauhinhLenovoIdeaPad115AMN7"> Cấu hình Lenovo IdeaPad 1 15AMN7</a></li>
                        <li class="menu-heading__item"> <a toscroll="#1527105706174" href="https://fptshop.com.vn/tin-tuc/for-gamers/tren-tay-lenovo-ideapad-1-15amn7-152946#ConenmuaLenovoIdeaPad115AMN7"> Có nên mua Lenovo IdeaPad 1 15AMN7?</a></li>
                    </ul>
                </div>
                <div class="post__content">
                    <p style="text-align: justify;"><a href="https://fptshop.com.vn/may-tinh-xach-tay/lenovo-ideapad-1-15amn7-r5-7520u" target="_blank">Lenovo IdeaPad 1 15AMN7</a> là sản phẩm <a href="https://fptshop.com.vn/tin-tuc/tin-moi/laptop-chay-amd-ryzen-7000-series-chuan-bi-len-ke-fpt-shop-152811" target="_blank">laptop chạy AMD Ryzen 7000 series</a> đầu tiên lên kệ tại thị trường Việt Nam. Với mức giá bán tại FPT Shop hiện tại chỉ hơn 12 triệu đồng và sở hữu hàng loạt công nghệ hấp dẫn như CPU Ryzen 5 7520U mạnh mẽ, chuẩn RAM mới LPDDR5 5500MHz, màn hình Full HD 15,6 inch sắc nét, thiết kế siêu mỏng nhẹ, IdeaPad 1 15AMN7 hứa hẹn sẽ là cái tên cực hot ở phân khúc laptop tầm trung. Ngay bây giờ chúng ta sẽ cùng nhau trên tay và trải nghiệm đánh giá thực tế <a href="https://fptshop.com.vn/may-tinh-xach-tay/lenovo-ideapad">Lenovo IdeaPad</a> 1 15AMN7.</p>
                    <p style="text-align: justify;"><img alt="Trên tay Lenovo IdeaPad 1 15AMN7" height="1066" src="./css_news1/Lenovo-IdeaPad-1-15AMN7-fpt-12.jpg" width="1600"></p>
                    <div class="ins-wrapper-c539">
                        <div class="ins-modal-c539">
                            <strong>Trên tay Lenovo IdeaPad 1 15AMN7</strong>
                            <p style="text-align: justify;">Lenovo IdeaPad 1 15 (2022) gây bất ngờ với thiết kế đầy ấn tượng trong tầm giá 12 triệu. Chiếc laptop này thực sự rất mỏng nhẹ. Độ mỏng đền từ cả thân máy và phần viền màn hình, tạo nên cảm giác thanh thoát cùng tính di động miễn chê. Phiên bản trong bài viết có màu xám bạc, một màu sắc hiện đại, khá độc đáo và sang trọng. Phần nắp lưng Lenovo IdeaPad 1 15AMN7 rất tối giản, chỉ có duy nhất logo <a href="https://fptshop.com.vn/may-tinh-xach-tay/lenovo" target="_blank">Lenovo</a> đặt lệch một góc, màn hình viền siêu mỏng và bàn phím tràn ra sát cạnh tạo nên sự cân đối, tinh tế. Lenovo IdeaPad 1 15AMN7 có trọng lượng 1,58 kg và độ mỏng 17,9mm, quá nhỏ gọn đối với một sản phẩm laptop 15,6 inch.</p>
                            <p style="text-align: justify;"><img alt="Trên tay Lenovo IdeaPad 1 15AMN7" height="1066" src="./css_news1/Lenovo-IdeaPad-1-15AMN7-fpt-2.jpg" width="1600"></p>
                            <h2 style="text-align: justify;" id="890547079423"><strong>Cổng kết nối Lenovo IdeaPad 1 15AMN7</strong></h2>
                            <p style="text-align: justify;">Mỏng nhẹ là vậy nhưng các cổng kết nối trên Lenovo IdeaPad 1 15AMN7 được bố trí rất đầy đủ. Chúng ta sẽ có 1 cổng USB 2.0, 1 cổng USB 3.2 Gen 1, 1 cổng USB-C 3.2 Gen 1, cổng HDMI 1.4b, đầu đọc thẻ nhớ, jack tai nghe/mic 3.5mm. Bạn có thể kết nối với các thiết bị ngoại vi một cách thoải mái. Ngoài loạt kết nối có dây, kết nối không dây của IdeaPad 1 cũng rất tốt với chuẩn Wi-Fi 6 11ax 2x2 mới nhất và Bluetooth 5.1. <a href="https://fptshop.com.vn/tin-tuc/danh-gia/tat-ca-nhung-gi-ban-can-biet-ve-chuan-wi-fi-6-moi-nhat-114640" target="_blank">Mạng Wi-Fi 6</a> cho tốc độ kết nối nhanh, ổn định hơn so với chuẩn Wi-Fi 5 trước đây để bạn vẫn luôn bắt Wi-Fi tốt dù là trong các quán café, địa điểm Internet công cộng nhiều người sử dụng.</p>
                            <div class="plcTwentyBox">
                                <div class="twentytwenty-wrapper twentytwenty-horizontal">
                                    <div class="twentytwenty-container" style="height: 507.675px;">
                                        <img alt="Trên tay Lenovo IdeaPad 1 15AMN7" height="1066" longdesc="" src="./css_news1/Lenovo-IdeaPad-1-15AMN7-fpt-6.jpg" title="" width="1600" class="twentytwenty-before" style="clip: rect(0px, 533.4px, 507.675px, 0px);"><img alt="Trên tay Lenovo IdeaPad 1 15AMN7" height="1066" longdesc="" src="./css_news1/Lenovo-IdeaPad-1-15AMN7-fpt-7.jpg" title="" width="1600" class="twentytwenty-after">
                                        <div class="twentytwenty-overlay">
                                            <div class="twentytwenty-before-label" data-content="Before"></div>
                                            <div class="twentytwenty-after-label" data-content="After"></div>
                                        </div>
                                        <div class="twentytwenty-handle" style="left: 533.4px;"><span class="twentytwenty-left-arrow"></span><span class="twentytwenty-right-arrow"></span></div>
                                    </div>
                                </div>
                            </div>
                            <h2 style="text-align: justify;" id="547918302430"><strong>Màn hình Lenovo IdeaPad 1 15AMN7</strong></h2>
                            <p style="text-align: justify;">Lenovo IdeaPad 1 15 có màn hình viền rất mỏng, có thể nói là mỏng bậc nhất trong số những chiếc laptop giá rẻ trên thị trường. Màn hình này có kích thước 15,6 inch, độ phân giải Full HD. Chất lượng hiển thị sắc nét, độ chi tiết cao, màu sắc tương đối sống động. Tuy nhiên với việc sử dụng tấm nền TN, độ sáng màn hình chỉ ở mức 220 nits. Bạn sẽ có khó có thể nhìn rõ màn hình trong điều kiện ngoài trời nắng mà chỉ nên dùng trong phòng. Bù lại thì tấm nền chống chói giúp giảm hiện tượng lóa, cho hình ảnh rõ ràng hơn.</p>
                            <p style="text-align: justify;"><img alt="Trên tay Lenovo IdeaPad 1 15AMN7" height="1066" src="./css_news1/Lenovo-IdeaPad-1-15AMN7-fpt-1.jpg" width="1600"></p>
                            <h2 style="text-align: justify;" id="67240782377"><strong>Bàn phím Lenovo IdeaPad 1 15AMN7</strong></h2>
                            <p style="text-align: justify;">Khá bất ngờ khi Lenovo IdeaPad 1 vẫn có thể giữ lại khu vực bàn phím số dù khung máy đã nhỏ gọn hơn rất nhiều. Nhờ việc đẩy sát phần bàn phím ra hai cạnh, laptop mang đến một bàn phím kích thước đầy đủ, bàn phím số tiện lợi cho thao tác với các bảng tính. Trải nghiệm bàn phím trên IdeaPad 1 15AMN7 rất mượt mà và thoải mái. Các phím bấm được thiết kế mũ lõm công thái học, độ phản hồi nhạy, cảm giác bấm thích tay. Tuy nhiên phần phím Enter hơi nhỏ sẽ khiến bạn phải mất một chút thời gian để làm quen.</p>
                            <div class="plcTwentyBox">
                                <div class="twentytwenty-wrapper twentytwenty-horizontal">
                                    <div class="twentytwenty-container" style="height: 507.675px;">
                                        <img alt="Trên tay Lenovo IdeaPad 1 15AMN7" height="1066" longdesc="" src="./css_news1/Lenovo-IdeaPad-1-15AMN7-fpt-3.jpg" title="" width="1600" class="twentytwenty-before" style="clip: rect(0px, 533.4px, 507.675px, 0px);"><img alt="Trên tay Lenovo IdeaPad 1 15AMN7" height="1066" longdesc="" src="./css_news1/Lenovo-IdeaPad-1-15AMN7-fpt-5.jpg" title="" width="1600" class="twentytwenty-after">
                                        <div class="twentytwenty-overlay">
                                            <div class="twentytwenty-before-label" data-content="Before"></div>
                                            <div class="twentytwenty-after-label" data-content="After"></div>
                                        </div>
                                        <div class="twentytwenty-handle" style="left: 533.4px;"><span class="twentytwenty-left-arrow"></span><span class="twentytwenty-right-arrow"></span></div>
                                    </div>
                                </div>
                            </div>
                            <h2 style="text-align: justify;" id="1449510663300"><strong>Cấu hình Lenovo IdeaPad 1 15AMN7</strong></h2>
                            <p style="text-align: justify;">Hiệu năng là điểm mạnh nhất của Lenovo IdeaPad 1 15AMN7. Đây là chiếc laptop đầu tiên lên kệ thị trường Việt trang bị con chip AMD Ryzen 7000 series mới nhất. Bộ vi xử lý AMD Ryzen 5 7520U được sản xuất trên tiến trình 6nm hiện đại, có 4 nhân 8 luồng, tốc độ 2.8 – 4.3 GHz. Con chip này không chỉ mạnh mẽ, xử lý hoàn hảo các tác vụ công việc thường ngày mà còn tích hợp GPU AMD Radeon 610M. GPU này là một trong những card đồ họa tích hợp xuất sắc nhất hiện nay, có thể chỉnh sửa ảnh mượt mà, biên tập video cơ bản và chơi được các <a href="https://fptshop.com.vn/tin-tuc/for-gamers/game-esports-la-gi-3-tua-game-esports-hot-nhat-hien-nay-144711-144711" target="_blank">game Esports</a>.</p>
                            <p style="text-align: justify;"><img alt="Trên tay Lenovo IdeaPad 1 15AMN7" height="1066" src="./css_news1/Lenovo-IdeaPad-1-15AMN7-fpt-4.jpg" width="1600"></p>
                            <p style="text-align: justify;">Một linh kiện đáng chú ý khác trên Lenovo IdeaPad 1 15AMN7 là 8GB RAM LPDDR5 5000MHz. So với RAM DDR4 3200MHz có mặt trên các đối thủ thì rõ ràng chuẩn RAM mới của Lenovo IdeaPad 1 15AMN7 mang đến hiệu suất cao hơn rất nhiều. Bạn có thể thoải mái làm nhiều việc cùng lúc, duyệt web hàng chục tab mà laptop vẫn rất mượt mà, không bị hiện tượng lag giật. SSD cũng có tốc độ cực nhanh với 512GB SSD M.2 PCIe 4.0x4 NVMe. Laptop vừa có dung lượng bộ nhớ cao, vừa tốc độ vượt trội cho bạn trải nghiệm cảm giác mở máy chỉ trong một vài giây. Nhìn chung, Lenovo IdeaPad 1 15AMN7 là sản phẩm có cấu hình xuất sắc với loạt linh kiện đời mới hiện đại.</p>
                            <p style="text-align: justify;"><img alt="Trên tay Lenovo IdeaPad 1 15AMN7" height="1066" src="./css_news1/Lenovo-IdeaPad-1-15AMN7-fpt-14.jpg" width="1600"></p>
                            <h2 style="text-align: justify;" id="1527105706174"><strong>Có nên mua Lenovo IdeaPad 1 15AMN7?</strong></h2>
                            <p style="text-align: justify;">Lenovo IdeaPad 1 15AMN7 hiện đang được bán với giá 12.490.000 đồng tại FPT Shop (khuyến mãi giảm giá 1 triệu từ giá gốc 13.490.000 đồng). Đây là mức giá vừa túi tiền, phù hợp cho rất nhiều đối tượng người dùng, từ học sinh, sinh viên cho đến người làm công việc văn phòng, kinh doanh. Sở hữu cấu hình mới nhất hiện nay và thiết kế di động, Lenovo IdeaPad 1 15AMN7 chắc chắn sẽ là chiếc laptop đáng mua hàng đầu ở phân khúc tầm trung trong dịp mua sắm Tết 2023.</p>
                            <div class="boxpin" data-id="43307">
                                <div class="image"><a target="_blank" href="http://fptshop.com.vn/may-tinh-xach-tay/lenovo-ideapad-1-15amn7-r5-7520u"><img src="./css_news1/638053327684236749_lenovo-ideapad-1-15amn7-xam-dd.jpg"></a></div>
                                <div class="infor">
                                    <a target="_blank" href="http://fptshop.com.vn/may-tinh-xach-tay/lenovo-ideapad-1-15amn7-r5-7520u">
                                        <div class="title">Laptop Lenovo IdeaPad 1 15AMN7 R5 7520U/8GB/512GB/15.6"FHD/Win 11</div>
                                    </a>
                                    <figure class="desc"></figure>
                                    <a target="_blank" href="http://fptshop.com.vn/may-tinh-xach-tay/lenovo-ideapad-1-15amn7-r5-7520u" class="viewdetail">Xem chi tiết</a>
                                </div>
                            </div>
                            <p>&nbsp;</p>
                        </div>
                        <div class="social-network__action">
                            <div class="post-like">
                                <div class="fb-like fb_iframe_widget" data-href="https://fptshop.com.vn/tin-tuc/for-gamers/tren-tay-lenovo-ideapad-1-15amn7-152946" data-width="" data-layout="button_count" data-action="like" data-size="large" data-share="false" fb-xfbml-state="rendered" fb-iframe-plugin-query="action=like&amp;app_id=&amp;container_width=0&amp;href=https%3A%2F%2Ffptshop.com.vn%2Ftin-tuc%2Ffor-gamers%2Ftren-tay-lenovo-ideapad-1-15amn7-152946&amp;layout=button_count&amp;locale=vi_VN&amp;sdk=joey&amp;share=false&amp;size=large&amp;width=">
                                    <span style="vertical-align: bottom; width: 108px; height: 28px;">
                                        <iframe name="f26aa8de02780f4" width="1000px" height="1000px" data-testid="fb:like Facebook Social Plugin" title="fb:like Facebook Social Plugin" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="./css_news1/like.html" style="border: none; visibility: visible; width: 108px; height: 28px;" class=""></iframe>
                                    </span>
                                </div>
                            </div>
                            <div class="post__share">
                                <span class="post-desc">Chia sẻ: </span>
                                <div class="fb-share-wrapper">
                                    <div class="fb-button-share js-share-fb"> <img src="./css_news1/fb-logo.png"> <span>facebook</span> </div>
                                    <div class="fb-share-button js-share-fb-hide fb_iframe_widget" data-href="https://fptshop.com.vn/tin-tuc/for-gamers/tren-tay-lenovo-ideapad-1-15amn7-152946" data-layout="button" data-size="large" fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id=&amp;container_width=130&amp;href=https%3A%2F%2Ffptshop.com.vn%2Ftin-tuc%2Ffor-gamers%2Ftren-tay-lenovo-ideapad-1-15amn7-152946&amp;layout=button&amp;locale=vi_VN&amp;sdk=joey&amp;size=large">
                                        <span style="vertical-align: bottom; width: 87px; height: 28px;">
                                            <iframe name="f236587efaa23b4" width="1000px" height="1000px" data-testid="fb:share_button Facebook Social Plugin" title="fb:share_button Facebook Social Plugin" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="./css_news1/share_button.html" style="border: none; visibility: visible; width: 87px; height: 28px;" class=""> </iframe>
                                        </span>
                                    </div>
                                </div>
                                <div class="zalo-share-button" data-href="https://fptshop.com.vn/tin-tuc/for-gamers/tren-tay-lenovo-ideapad-1-15amn7-152946" data-oaid="2659487666103055748" data-layout="1" data-color="blue" data-customize="true"> <img src="./css_news1/zalo-logo.png"> <span>Zalo</span> </div>
                            </div>
                        </div>
                        <div class="author-wrap">
                            <div class="author-avatar"> <img src="./css_news1/637233405057308536_hong-leo.jpg"> </div>
                            <div class="author-info">
                                <div class="author-name">Văn Hồng</div>
                                <div class="author-description">Đam mê công nghệ, hòa đồng, vui vẻ, chuyên viên về laptop và PC. Ước một ngày được mua Dell XPS 13 Plus và PC Aorus!</div>
                                <a class="author-post" href="https://fptshop.com.vn/tin-tuc/tac-gia/van-hong-40D8E30F">Xem 439 bài viết cùng tác giả</a>
                            </div>
                        </div>
                        <div class="post__tag">
                            <div class=" post-detail-stt">
                                <div class="title">Sản phẩm</div>
                                <div class="list-tag"> <a href="https://fptshop.com.vn/may-tinh-xach-tay/lenovo-ideapad-1-15amn7-r5-7520u">Laptop Lenovo IdeaPad 1 15AMN7 R5 7520U/8GB/512GB/15.6"FHD/Win 11</a> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
