<div class="container blogpxh mt-3">
		 <div class="row">
		  <div class="row d-flex justify-content-center">
	<!-- InstanceBeginEditable name="title" -->
			<h1>Chia sẻ 5 cách sửa lỗi Your virus &amp; threat protection không hoạt động trên Windows 10/11</h1>
  	<!-- InstanceEndEditable -->	  
			  <div class="row">
                    	<div class="col-8 col-sm-6">
					 		<!-- InstanceBeginEditable name="author avt" --><img src="/css_news2/638023391163754792_chi.jpg" class="rounded-circle" align="left"  >  	
							<!-- InstanceEndEditable -->

						<div class="row">
							<!-- InstanceBeginEditable name="author Name" --><a href="">Lê Chi</a> 
							<!-- InstanceEndEditable --> 
						<div class="col-4 col-sm-6">
							<!-- InstanceBeginEditable name="author Day" -->
							<p id="Day release">5 ngày trước <span><i class="bi-dot"></i></span></p>  

  	<!-- InstanceEndEditable -->   
						</div>
						</div>
                </div>

			  
	<!-- InstanceBeginEditable name="content" -->
  <div class="row mt-1">
    <p>Bảo mật trong Windows luôn được cải tiến để bảo vệ máy tính và thông báo Your virus &amp; threat protection có thể là lỗi từ hệ thống. Hãy tham khảo qua 5 cách dưới đây để thử khắc phục được không nhé.</p>
    <h2 id="589845015489"><strong>1. Kiểm tra file hệ thống bằng công cụ DISM</strong></h2>
    <p>Lỗi Your virus &amp; threat protection có thể gây ra do các tệp hệ thống bị lỗi. Trong trường hợp này, bạn nên quét các tệp Windows được bảo vệ và thay thế các tệp bị lỗi. Các bước thực hiện như sau:</p>
    <h3 id="1211303174824"><strong>Bước 1. Chạy Run Command Prompt as an administrator</strong></h3>
    <p>Nhấn tổ hợp phím <strong>Windows + R</strong> để mở hộp thoại Run. Sau đó nhập vào <strong>cmd</strong>, nhấn <strong>Enter</strong> để mở bảng lệnh.</p>
    <h3 id="604742893497"><strong>Bước 2. Nhập vào dòng lệnh</strong></h3>
    <p>sfc /scannow</p>
    <p>Sau đó nhấn phím Enter để quá trình quét SFC bắt đầu.</p>
    <p><img alt="5 cách sửa lỗi your virus & threat protection không hoạt động trên Windows 10/11" height="334" src="/css_news2/your-virus-and-threat-protection%20(4).png" width="700"></p>
    <h3 id="1032933763631"><strong>Bước 3. Tiến hành quét nâng cao</strong></h3>
    <p>Bằng cách nhập vào dòng lệnh:</p>
    <p>DISM.exe /Online /Cleanup-image /Restorehealt</p>
    <p><img alt="5 cách sửa lỗi your virus & threat protection không hoạt động trên Windows 10/11" height="266" src="/css_news2/your-virus-and-threat-protection%20(5).png" width="700"></p>
    <h3 id="268854049305"><strong>Bước 4. Khởi động lại máy tính</strong></h3>
    <p>Ngay sau khi quá trình quét hoàn tất, bạn tiến hành khởi động lại thiết bị của mình xem đã giải quyết được lỗi Your virus &amp; threat protection chưa nhé.</p>
    <h2 id="836089733593"><strong>2. Sửa chữa và cài đặt lại Windows Security</strong></h2>
    <p>Sửa chữa và <a href="https://fptshop.com.vn/tin-tuc/thu-thuat/cach-cai-dat-lai-windows-11-ma-khong-can-xoa-bat-ky-ung-dung-nao-142603">cài đặt lại Windows</a> nhằm giúp hệ thống cập nhật hoặc khắc phục được các vấn đề phát sinh trong quá trình sử dụng gây ra lỗi Your virus &amp; threat protection.</p>
    <h3 id="1337851892609"><strong>Bước 1. Truy cập vào Apps and Features</strong></h3>
    <p>Nhấn tổ hợp phím <strong>Windows + X</strong> để mở menu và từ danh sách bạn chọn <strong>Apps and Features.</strong></p>
    <h3 id="950240825799"><strong>Bước 2. Chọn tùy chọn nâng cao</strong></h3>
    <p>Kéo xuống bạn sẽ thấy <strong>Windows Security</strong>, di chuyển chuột đến <strong>dấu 3 chấm</strong>, chọn <strong>Advanced options.</strong></p>
    <p><img alt="5 cách sửa lỗi your virus & threat protection không hoạt động trên Windows 10/11" height="411" src="/css_news2/your-virus-and-threat-protection%20(6).png" width="700"></p>
    <h3 id="382918385338"><strong>Bước 3. Tùy chọn repair, reset hay gỡ cài đặt Windows Security</strong></h3>
    <p>Kéo xuống dưới cùng bạn sẽ thấy 3 tùy chọn <strong>Repair</strong>, <strong>Reset, Uninstall.</strong> Bạn có thể thử cả 3 tùy chọn xem có khắc phục được vấn đề không nhé.</p>
    <h2 id="600174551914"><strong>3. Khởi động lại Windows Security Service</strong></h2>
    <p>Bạn có thể thử khởi động lại Windows Security Service xem có thể khắc phục được tình trạng Your virus &amp; threat protection, bằng cách thực hiện theo các bước sau:</p>
    <h3 id="612520946033"><strong>Bước 1. Mở Services Window.</strong></h3>
    <p>Nhấp vào <strong>nút Star</strong>, gõ tìm kiếm <strong>Services</strong> và nhấn <strong>Enter</strong> để truy cập.</p>
    <h3 id="534292936923"><strong>Bước 2. Tìm đến Windows Security Service</strong></h3>
    <p>Kéo xuống bạn sẽ thấy tùy chọn Windows Security Service.</p>
    <ul>
      <li>Nếu <strong>Status</strong> đang ở trạng thái<strong> Stopped:</strong> Bạn có thể khởi động lại máy tính.</li>
      <li>Nếu <strong>Status</strong> đang ở trạng thái <strong>Running:</strong> Bạn tắt đi và khởi động lại máy tính.</li>
    </ul>
    <h2 id="1173126933780"><strong>4. Kiểm tra cài đặt Date and Time</strong></h2>
    <p>Kiểm tra và cài đặt lại ngày và giờ trên <a href="https://fptshop.com.vn/may-tinh-xach-tay">máy tính</a> có thể khắc phục được lỗi. Bạn thực hiện theo các bước sau.</p>
    <h3 id="72790406826"><strong>Bước 1. Vào cài đặt Date and Time</strong></h3>
    <p>Di chuyển chuột đến thanh taskbar ở góc dưới bên phải <a href="https://fptshop.com.vn/man-hinh">màn hình máy tính</a> của bạn. Nhấp vào <strong>Date and Time</strong> và chọn <strong>Adjust date and time.</strong></p>
    <h3 id="1450702325537"><strong>Bước 2. Chọn đồng bộ hóa thời gian</strong></h3>
    <p>Ở phần <strong>Additional settings,</strong> bạn chọn <strong>Sync now</strong> để đồng bộ hóa tự động.</p>
    <p><img alt="5 cách sửa lỗi your virus & threat protection không hoạt động trên Windows 10/11" height="537" src="/css_news2/your-virus-and-threat-protection%20(1).png" width="700"></p>
    <h3 id="1026895821054"><strong>Bước 3. Lưu cài đặt và khởi động lại máy</strong></h3>
    <p>Sau khi cài đặt, bạn tiến hành lưu và khởi động lại máy.</p>
    <p><img alt="5 cách sửa lỗi your virus & threat protection không hoạt động trên Windows 10/11" height="351" src="/css_news2/your-virus-and-threat-protection%20(2).png" width="700"></p>
    <h2 id="1447097980076"><strong>5. Bật Virus and threat protection settings</strong></h2>
    <p>Mở Cài đặt Windows và đảm bảo cài đặt Virus and threat protection settings được bật. Các bước thực hiện như sau:</p>
    <h3 id="1396809894179">Bước 1. Mở Virus &amp; threat protection</h3>
    <p>Thực hiện theo đường dẫn để mở:</p>
    <p><strong>Privacy &amp; security</strong> &gt; <strong>Windows Security</strong> &gt; <strong>Virus &amp; threat protection.</strong></p>
    <h3 id="837211479345">Bước 2. Chọn <strong>Manage settings</strong></h3>
    <p>Truy cập theo đường dẫn: <strong>Virus &amp; threat protection settings</strong> sau đó chọn <strong>Manage settings.</strong></p>
    <p><img alt="5 cách sửa lỗi your virus & threat protection không hoạt động trên Windows 10/11" height="543" src="/css_news2/your-virus-and-threat-protection%20(3).png" width="700"></p>
    <h3 id="681770024216">Bước 3. Chọn Real-time protection</h3>
    <p>Trên trang tiếp theo, bạn bật nút gạt bên cạnh <strong>Real-time protection</strong>.</p>
    <p>Thông qua bài viết, hy vọng bạn đã có thể khắc phục được sự cố Your virus &amp; threat protection không hoạt động trên Windows 10/11. Nếu thấy bài viết hữu ích đừng quên chia sẻ cho bạn bè, người thân nhé.    </p>
    <div class="post__share"> <span class="post-desc">Chia sẻ: </span>
      <div class="fb-share-wrapper">
        <div class="fb-button-share js-share-fb"> <img src="/css_news2/fb-logo.png"> <span>facebook</span> </div>
        <div class="fb-share-button js-share-fb-hide fb_iframe_widget" data-href="https://fptshop.com.vn/tin-tuc/thu-thuat/bat-bass-boost-tren-windows-11-152160" data-layout="button" data-size="large" fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id=&amp;container_width=130&amp;href=https%3A%2F%2Ffptshop.com.vn%2Ftin-tuc%2Fthu-thuat%2Fbat-bass-boost-tren-windows-11-152160&amp;layout=button&amp;locale=vi_VN&amp;sdk=joey&amp;size=large"><span style="vertical-align: bottom; width: 87px; height: 28px;">
          <iframe name="f349fd433b386ac" width="1000px" height="1000px" data-testid="fb:share_button Facebook Social Plugin" title="fb:share_button Facebook Social Plugin" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="https://www.facebook.com/plugins/share_button.php?app_id=&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Dfdbd562010ac08%26domain%3Dfptshop.com.vn%26is_canvas%3Dfalse%26origin%3Dhttps%253A%252F%252Ffptshop.com.vn%252Ff28edb0011f391c%26relation%3Dparent.parent&amp;container_width=130&amp;href=https%3A%2F%2Ffptshop.com.vn%2Ftin-tuc%2Fthu-thuat%2Fbat-bass-boost-tren-windows-11-152160&amp;layout=button&amp;locale=vi_VN&amp;sdk=joey&amp;size=large" style="border: none; visibility: visible; width: 87px; height: 28px;" class=""></iframe>
          </span></div>
      </div>
      <div class="zalo-share-button" data-href="https://fptshop.com.vn/tin-tuc/thu-thuat/bat-bass-boost-tren-windows-11-152160" data-oaid="2659487666103055748" data-layout="1" data-color="blue" data-customize="true"> <img src="/css_news2/zalo-logo.png"> <span>Zalo</span> </div>
    </div>
  </div>