
@{
    ViewData["Title"] = "Blog2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .child {
    width: 80%;
    border: 2px solid red;
    padding: 150px 150px 45px;
    border-radius: 15px;
    margin: auto;
    margin-top: 250px;
}

.child-1 {
    display: flex;
    margin-left: -145px;
    margin-top: -145px;
    flex: 3;
}

.ch-1 {
    margin-right: 5px;
}

.ch-33 {
    margin-top: 5px;
}

.in4 {
    color: #6c757d;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 5px;
}

.img1,
.img2 {
    margin-left: 5px;
    width: 15.5%;
    border: 2px solid gray;
    padding: 5px 10px 5px 20px;
    border-radius: 15px;
    display: flex;
}

.in1,
.in2 {
    width: 200%;
    display: flex;
}

.img1:hover {
    border: 2px solid red;
}

.img2:hover {
    border: 2px solid red;
}

.P {
    margin-left: 10px;
    margin-top: 25px;
}

.P1 {
    margin-left: 10px;
    margin-top: 30px;
}

.screen {
    color: black;
    font-weight: 700;
}

.img2 {
    margin-top: 10px;
}

.content,
.in1,
.in2,
.VIVO {
    padding-left: 100px;
}

.note {
    margin-top: -80px;
    margin-left: -130px;
    display: flex;
    font-size: 14px;
}

.note-two,
.note-three,
.note-four,
.note-five {
    margin-left: 25px;
}

.note-one:hover,
.note-two:hover,
.note-three:hover,
.note-four:hover,
.note-five:hover {
    cursor: pointer;
    font-weight: bold;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    margin-right: -92px;
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot,
.dotted {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dotted {
    margin-left: 6px;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* My code */
.row2 {
    width: 81.4%;
    height: 500px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}

.row1 {
    width: 81.4%;
    margin: 0 auto;

}

.row2 img {
    width: 100%;
    transition: 0.5s all ease-in-out;
}

.row2 img:hover {
    transform: scale(1.5);
}

@@media (max-width: 1531px) {
    .row2 {
        width: 100%;
    }

    .row1 {
        width: 100%;
    }
}

p {
    font-size: 20px;
}

p1 {
    color: red;
}

.intro {
    border-style: groove;
}

.bottom-left {
    position: absolute;
    bottom: 10px;
    left: 16px;
    color: #fff;
    font-weight: bold;
    font-size: 26px;
}

.position-04 {
    padding-top: 30px;
    clear: both;
}

.position-04 .blog-home .title-h {
    text-align: center;
    font-size: 30px;
    color: #444;
    font-weight: 700;
    padding-bottom: 20px;
}

.position-04 .blog-home .item .box-1,
.position-04 .blog-home .item .box-2 {
    overflow: hidden;
}

.position-04 .blog-home .item .box-1 img,
.position-04 .blog-home .item .box-2 img {
    width: 100%;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.position-04 .blog-home .item .box-1 img:hover,
.position-04 .blog-home .item .box-2 img:hover {
    -webkit-transform: rotate(7deg);
    -moz-transform: rotate(7deg);
    -ms-transform: rotate(7deg);
    -o-transform: rotate(7deg);
    transform: rotate(7deg);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.position-04 .blog-home .item .box-2 {
    padding: 20px;
}

.position-04 .blog-home .item .box-2 .title {
    color: white;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

.position-04 .blog-home .item .box-2 .std {
    color: white;
    font-weight: bold;
    clear: both;
    display: block;
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 12px;
}

.position-04 .blog-home .item .box-2 .date {
    float: left;
    color: white;
    font-weight: bold;
    font-size: 12px;
    border-right: 1px solid white;
    position: absolute;
    padding-right: 3.5%;
}

.position-04 .blog-home .item .box-2 .cmt {
    float: right;
    color: white;
    font-weight: bold;
    font-size: 12px;
}

.title {
    font-weight: bold;
}

@@media (max-width: 1400px) {
    .position-04 .blog-home .item .box-2 .date {
        border-right: none;
    }
}

h1 {
    font-weight: bold;
}

p2 {
    font-size: 15px;
    color: blue;
    font-weight: bold;
}

p3 {
    color: red;
    font-weight: bold;
}

.btn-warning {
    color: white;
}

p4 {
    font-weight: bold;
    font-size: 14px;

}

.bi-search {
    margin-left: 24%;
}

.bkg-color
{
    height: 400px;
    width: 100%;
    padding-top: 500px;
    color: white;
    overflow: hidden;
    position: relative;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("/images/bkg-testimo.png") no-repeat fixed;
    background-size: cover;
}

.bkg-color1
{
    height: 400px;
    width: 100%;
    padding-top: 500px;
    color: white;
    overflow: hidden;
    position: relative;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("/images/samsung-dex-laptop.jpg") no-repeat fixed;
    background-size: cover;
}

.bkg-color2
{
    height: 400px;
    width: 100%;
    padding-top: 500px;
    color: white;
    overflow: hidden;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("/images/nexdock-360-gamer-pc.jpg") no-repeat fixed;
    position: relative;
    background-size: cover;
}

.d-block
{
    margin: auto;
    position: absolute;   
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.carousel-caption h6
{
    margin-bottom: 50px;
}

.hello
{
    margin-bottom: 270px;
}

.sp
{
    text-align: center;
    padding: 10px;
    width: 300px;
    height: 50px;
    border: 1px solid #eaeaea;
    border-radius: 6px;
    margin: auto;
    position: absolute;
    top: 180px;
    display: inline-block;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
    
    
}

h6
{
    font-size: 30px;
}

p5
{
    font-weight: bold;
}

.slider-area 
{
    position: relative;
}

</style>
 <div class="container mt-5">
        <div class="row">
            <div class="col-md-8">
                <h1>Lý do HP Victus 16 hấp dẫn giới sáng tạo</h1>
                <div class="row">
                    <div class="col-md-6">
                        <p>By <a href="">Trần Thúy </a>- 24/10/2022</p>
                    </div>
                    <div class="col-md-6">
                        <i class="bi bi-eye" style="float: right; font-weight: bold;"> 868</i>
                        <i class="bi bi-chat-dots mx-3" style="float: right; font-weight: bold;"> 1</i>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">

                        <a class="btn text-white btn-floating m-1" style="background-color: #3b5998;" href="#!"
                            role="button"><i class="bi bi-facebook"></i></a>

                        <a class="btn text-white btn-floating m-1" style="background-color: #dd4b39;" href="#!"
                            role="button"><i class="bi bi-google"></i></a>
                        <a class="btn text-white btn-floating m-1" style="background-color: #ac2bac;" href="#!"
                            role="button"><i class="bi bi-instagram"></i></a>
                        <a class="btn text-white btn-floating m-1" style="background-color: #0082ca;" href="#!"
                            role="button"><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>

                <div class="mt-5">
                    
                    <p>Nhờ tính di động và hiệu năng cao, laptop gaming HP Victus 16 đang ngày càng phổ biến trong giới sáng tạo nội dung, thiết kế đồ họa
                        <br><br>
                        Với sự bùng nổ của mạng xã hội, đặc biệt là sự lên ngôi của nội dung video, ngày càng nhiều người hướng tới việc xây dựng thương hiệu một cách chuyên nghiệp, nhanh chóng và hiệu quả. Do đó, việc lựa chọn mua laptop phục vụ công việc cũng ngày được quan tâm hơn nhờ tính di động vượt trội đáp ứng đầy đủ các tiêu chí như: tiện lợi, dễ di chuyển, hiệu năng cao... so với những sản phẩm máy tính bàn.
                        <br><br>
                        Dạo quanh các cộng đồng công nghệ lớn tại Việt Nam, chủ đề này đang được bàn tán rất sôi nổi. Đó là minh chứng cho việc rất nhiều người dùng đang có sự quan tâm lớn tới các sản phẩm phục vụ xử lý hình ảnh, video.</p>

                </div>

                <div class="mt-5">
                    <img src="/images/IMG-2900-3029-1669890556.jpg" style="width: 100%" alt=""></img>

                </div>

                <div class="row mt-3">
                    <div>
                        <br><br>
                        <h1>Hiệu năng ấn tượng cho công việc, giải trí
                        </h1>
                        <br>
                        <p>Làm trong lĩnh vực sáng tạo nội dung số, anh Huân (TP HCM) là một moderator hay còn gọi là người điều phối tại một cộng đồng đồ họa lớn. Vai trò này giúp anh có những nhìn nhận khá chính xác về những biến chuyển và sự phát triển của cộng đồng sáng tạo. Huân đánh giá cộng đồng đang hướng tới tính di động đi kèm hiệu năng cao.
                            <br><br>
                            Chính vì vậy, anh lựa chọn HP Victus - sản phẩm đạt danh hiệu "Best High Performance Laptop Gaming 2022" (bổ sung tên tiếng Việt, đơn vị chứng nhận). Theo Huân, đây là laptop gaming nổi tiếng từ một thương hiệu lớn của Mỹ và hoàn toàn phù hợp với yêu cầu công việc sáng tạo nội dung.
                            <br><br>
                            "Máy trang bị phần cứng giúp xử lý tác vụ đồ hoạ nhanh nhạy, kết hợp hệ thống tản nhiệt đẳng cấp giúp hoạt động lâu dài mà không bị nóng", anh nhấn mạnh.
                        </p>
                        <img src="/images/IMG-2901-3035-1669890556.jpg" style="width: 100%" alt="">

                        <p class="mt-3">Một lý do khác để Huân chọn là HP Victus đã đạt giải "Laptop chơi game có bộ tản nhiệt tốt nhất" tại Tech Awards 2021 tổ chức bởi VnExpress. Giải thưởng này đạt được nhờ sự thừa hưởng công nghệ tản nhiệt độc quyền Omen Tempest Cooling đã gây tiếng vang trước đó ở dòng laptop gaming HP Omen. Ngoài ra khả năng tùy biến của Omen Gaming Hub giúp người dùng có thể nâng cao và tối ưu hiệu năng khi sử dụng.
                            <br><br>
                            Về thế mạnh giải trí, laptop gaming HP Victus thiết kế với cụm phím điều hướng tách biệt về không gian để giảm thiểu những thao tác nhầm lẫn khi chơi game FPS, E-Sport. Khu vực phím spacebar và touchpad lớn hơn phiên bản tiền nhiệm đi kèm độ nảy và cảm giác gõ tốt, giúp cải thiện trải nghiệm sử dụng hàng ngày khi làm việc hoặc giải trí chơi game
                            <br><br>
                            Một điểm cộng nữa là Victus 16 trang bị cặp loa đã được B&O tinh chỉnh giúp âm thanh cải thiện rõ rệt. Các bài đánh giá từ người dùng cũng nhận phản hồi rất tích cực và vào top những chiếc laptop gaming có hệ thống âm thanh tốt nhất phân khúc.
                            <br><br>
                            HP Victus tích hợp công nghệ AI Temporal Noise Reductions (TNR) vào hệ thống camera và micro để nâng cao chất lượng hình ảnh, âm thanh, hoàn thiện trải nghiệm giải trí.
                        </p>
                    </div>
                </div>

                <div class="row mt-3">
                    <div>
                        <br>
                        <h1>Thiết kế sang trọng, tinh tế hơn
                        </h1>
                        <br>
                        <p>Minh Anh (Hà Nội) là một thiết kế, thường xuyên cần xử lý những công việc liên quan tới đồ họa 2D, 3D. Cùng với thú vui sáng tạo nội dung cá nhân trên Tiktok, cô cũng tin tưởng sử dụng HP Victus 16
                            <br><br>
                            Theo Minh Anh, Victus có khả năng xử lý công việc nhanh, hiệu quả. Điểm lôi cuốn khác nằm ở thiết kế, dù là một laptop gaming nhưng HP Victus không hầm hố, màu mè. Máy tập trung đến sự cao cấp, trang nhã, đa dạng và dễ dàng di chuyển. Với hai phiên bản tùy chọn đen, xanh trên cả Intel và AMD giúp người dùng dễ dàng lựa chọn màu sắc phù hợp với nhu cầu cá nhân.
                        </p>
                        <img src="/images/IMG-2902-1149-1669890556.jpg" style="width: 100%" alt="">

                        <p class="mt-3">Ở phiên bản mới lần này, HP Victus được thêm thắt một số chi tiết tuy nhỏ nhưng góp phần đem đến tổng thể hài hòa và ăn khớp với nhau tạo nên cảm giác đồng nhất hơn. Như các đường bo tròn ở viền máy và bo cong ở chi tiết ghép nối.
                            <br><br>
                            HP cũng nâng cấp bản lề nhằm tăng độ chắc chắn, hạn chế hiện tượng rung trong quá trình sử dụng, giúp người dùng yên tâm hơn về tuổi thọ và vòng đời sản phẩm. Máy trang bị màn hình lớn (15,6 hoặc 16,1 inch) với độ phân giải cao, tần số quét lớn, đi kèm viên pin 70whr kéo dài thời gian hoạt động lên tới 3-4 giờ. Thời lượng này đáp ứng khi dùng tác vụ văn phòng cơ bản với mức thiết lập cơ bản
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">

                <i class="bi bi-search"></i>
                <p4> GỢI Ý TỐT CHO BẠN</p4>
                <div class="mt-3 intro w-75 d-none d-lg-block" style="float: right; ">
                    <div class="row">
                        <div class="col-4">
                            <img src="/images/pair.jpeg" width="100%" height="90%" alt="" class="pt-3">
                        </div>

                        <div class="col-8">
                            <div class="row mt-3">
                                <p2>Apple iPhone 14 Plus 256GB</p2>
                                <p3 class="mt-3">Chính hãng | Trả góp 0%</p3>
                                <button type="button" class="btn btn-warning mt-2 ms-2 mb-2" style="width: 80%">ĐĂNG KÝ
                                    NGAY</button>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="mt-3 intro w-75 d-none d-lg-block" style="float: right; ">
                    <div class="row">
                        <div class="col-4">
                            <img src="/images/pair.jpeg" width="100%" height="90%" alt="" class="pt-3">
                        </div>

                        <div class="col-8">
                            <div class="row mt-3">
                                <p2>Apple iPhone 14 Plus 512GB</p2>
                                <p3 class="mt-3">Chính hãng | Trả góp 0%</p3>
                                <button type="button" class="btn btn-warning mt-2 ms-2 mb-2" style="width: 80%">ĐĂNG KÝ
                                    NGAY</button>
                            </div>
                        </div>
                    </div>

                </div>

                <img src="/images/lenovo.png" style="float: right; width: 75%;" class="d-none d-md-block" alt="">


            </div>


        </div>
    </div>


    <div class="slider-area mt-5">
        <div class="bontainer">

            <div id="carouselExampleCaptions" class="carousel slide">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="bkg-color">
                            <div class="color">
                                <img src="/images/testimo1.png" class="d-block" alt="">
                                
                                <div class="carousel-caption">
                                    
                                    <div class="name1">
                                        <span class="sp">JHON WHITE - Designer
                                        </span>
                                    </div>
                                    <h6>WHAT THE CLIENTS SAY </h6>
                                    <div class="hello">
                                        <p5>Sản phẩm tốt, dùng rất thoải mái.</p5>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="bkg-color1">
                            <img src="/images/testimo2.png" class="d-block" alt="...">
                        </div>
                        <div class="carousel-caption">
                            <div class="name1">
                                <span class="sp">JHON WHITE - Designer
                                </span>
                            </div>
                            <h6>WHAT THE CLIENTS SAY </h6>
                            <div class="hello">
                                <p5>Máy mượt, hàng chuẩn, giao hàng nhanh</p5>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="bkg-color2">
                            <img src="/images/testimo3.png" class="d-block" alt="...">
                        </div>
                        <div class="carousel-caption">
                            <div class="name1">
                                <span class="sp">JHON WHITE - Designer
                                </span>
                            </div>
                            <h6>WHAT THE CLIENTS SAY </h6>
                            <div class="hello">
                                <p5>Máy đẹp, shop hỗ trợ nhiệt tình, đóng gói cẩn thận. Sẽ ủng hộ lâu dài</p5>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>

                </div>
            </div>
        </div>
    </div>


    

    <div class="position-04">
        <div class="container">
            <div class="row">
                <div class="blog-home">
                    <div class="title-h">
                        <span>LATEST NEWS</span>
                    </div>
                    <div class="row">
                        <div class="item item-1 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                            <div class="box-1">
                                <a href="blog1.html"><img src="/images/image1.png" alt="" /></a>
                            </div>
                            <div class="box-2" style="background-color: #009cde;">
                                <span class="title">LOREM IPSUM DOLOR SIT AMET CONSE</span>
                                <span class="std">Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do
                                    eiusmod tempor incididunt ut labore et dolore magna.</span>
                                <span class="date"><i class="bi bi-calendar3"></i> 29 Dec 2022</span>
                                <span class="cmt"><i class="bi bi-chat-dots"></i> 9 Comments</span>
                            </div>
                        </div>
                        <div class="item item-2 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                            <div class="box-1">
                                <a href="blog2.html"><img src="/images/image2.png" alt="" /></a>
                            </div>
                            <div class="box-2" style="background-color: #ffd429;">
                                <span class="title">
                                    LÝ DO HP VICTUS 16 HẤP DẪN GIỚI SÁNG TẠO
                                </span>
                                <span class="std">Nhờ tính di động và hiệu năng cao, laptop HP Victus 16 đang ngày càng phổ biến trong giới sáng tạo nội dung, thiết kế đồ họa</span>
                                <span class="date"><i class="bi bi-calendar3"></i> 29 Dec 2022</span>
                                <span class="cmt"><i class="bi bi-chat-dots"></i> 9 Comments</span>
                            </div>
                        </div>
                        <div class="item item-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                            <div class="box-1">
                                <a href="#"><img src="/images/image3.png" alt="" /></a>
                            </div>
                            <div class="box-2" style="background-color: #f44336;">
                                <span class="title">LOREM IPSUM DOLOR SIT AMET CONSE</span>
                                <span class="std">Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do
                                    eiusmod tempor incididunt ut labore et dolore magna.</span>
                                <span class="date"><i class="bi bi-calendar3"></i> 29 Dec 2022</span>
                                <span class="cmt"><i class="bi bi-chat-dots"></i> 9 Comments</span>
                            </div>
                        </div>
                        <div class="item item-4 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                            <div class="box-1">
                                <a href="#"><img src="/images/image4.png" alt="" /></a>
                            </div>
                            <div class="box-2" style="background-color: #14d492;">
                                <span class="title">LOREM IPSUM DOLOR SIT AMET CONSE</span>
                                <span class="std">Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do
                                    eiusmod tempor incididunt ut labore et dolore magna.</span>
                                <span class="date"><i class="bi bi-calendar3"></i> 29 Dec 2022</span>
                                <span class="cmt"><i class="bi bi-chat-dots"></i> 9 Comments</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
