@model FinalProject.Models.Taikhoan
@{
	ViewData["Title"] = "Create";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="dangkyform box my-3 d-flex align-items-center justify-content-center container-fluid py-1">
	<div class="row w-100">
		<div class="col-md-6 p-3">
			<form asp-action="Create" asp-controller="Taikhoans">
				@*Hiển thị lỗi bằng model*@
				<div asp-validation-summary="ModelOnly" class="text-danger h4"></div>
				<h2 class="fw-bold mb-3"><i class="bi bi-person-plus"></i> Đăng ký</h2>
				@*Hiển thị lỗi bằng jquery*@

				<span id="errordiv" class="text-danger h4 mb-3"></span>
				<div class="form-group mb-3">
					<label asp-for="Email" class="control-label h4"><i class="bi bi-envelope"></i> E-Mail</label>
					<input required type="email" asp-for="Email" id="email" class="form-control fc h4" />
				</div>
				<div class="form-group mb-3">
					<label asp-for="HoTen" class="control-label h4"><i class="bi bi-person-vcard"></i> Họ tên</label>
					<input required asp-for="HoTen" class="form-control fc h4" />
				</div>
				<div class="form-group mb-3">
					<label asp-for="MatKhau" class="control-label h4"><i class="bi bi-key"></i> Mật khẩu</label>
					<div class="pw-text position-relative">
						<input required asp-for="MatKhau" type="password" class="form-control fc d-inline h4" id="password" />
						<a id="showorhidepw" class="position-absolute end-0 h4 naudamlink"><i id="showpw" class="bi bi-eye"></i><i style="display:none" id="hidepw" class="bi bi-eye-slash"></i></a>
					</div>
				</div>

				<div class="form-group mb-3">
					<label class="control-label h4"><i class="bi bi-key-fill"></i> Xác nhận mật khẩu</label>
					<div class="pw-text" style="position:relative">
						<input required asp-for="MatKhau" type="password" id="cfpassword" class="form-control fc d-inline h4" />
						<a id="cfshoworhidepw" class="position-absolute end-0 h4 naudamlink"><i id="cfshowpw" class="bi bi-eye"></i><i style="display:none" id="cfhidepw" class="bi bi-eye-slash"></i></a>
					</div>
				</div>

				<div class="form-group mb-3">
					<label asp-for="DiaChi" class="control-label h4"><i class="bi bi-house"></i> Địa chỉ</label>
					<input required asp-for="DiaChi" class="form-control fc h4" />
				</div>
				<div class="form-group mb-3">
					<label asp-for="Sdt" class="control-label h4"><i class="bi bi-telephone"></i> Số điện thoại</label>
					<input required asp-for="Sdt" class="form-control fc h4" />
				</div>
				<div class="form-group d-none">
					<label asp-for="VaiTro" class="control-label"></label>
					<input required asp-for="VaiTro" class="form-control" value="User" />
					<span asp-validation-for="VaiTro" class="text-danger"></span>
				</div>
				<div class="form-check mb-3 h4">
					<input class="form-check-input" type="checkbox" value="" id="agreechb">
					<label for="agreechb" class="form-check-label">
						Tôi đồng ý với <a asp-action="TOS" asp-controller="Home" class="hongdamlink"> điều khoản sử dụng</a> của trang web.
					</label>
				</div>
				<div class="row">
					<div class="col-md-6">
						<button id="btncreate" class="btn fw-bold mb-3 w-100 xanhneonbtn">Đăng ký</button>
					</div>
					<div class="col-md-6">
						<a asp-action="DangNhap" asp-controller="Taikhoans" class="btn fw-bold mb-3 w-100 nauvangbtn">Đăng nhập</a>
					</div>
				</div>
			</form>
		</div>
		<div class="col-md-6 p-3 d-flex align-items-center">
			<img class="img-fluid" src="/images/signup.png" style="object-fit:cover">
		</div>
	</div>
</div>
<script>
	//Hàm hiện/ ẩn mật khẩu
	$("#showorhidepw").click(function() {
		var pw = $("#password")[0];
		var showpw = $("#showpw")[0];
		var hidepw = $("#hidepw")[0];
		if (pw.type == "password") {
			pw.type = "text";
			showpw.style.display = "none";
			hidepw.style.display = "block";
		}
		else {
			pw.type = "password";
			showpw.style.display = "block";
			hidepw.style.display = "none";
		}
	});
	$("#cfshoworhidepw").click(function() {
		var pw = $("#cfpassword")[0];
		var showpw = $("#cfshowpw")[0];
		var hidepw = $("#cfhidepw")[0];
		if (pw.type == "password") {
			pw.type = "text";
			showpw.style.display = "none";
			hidepw.style.display = "block";
		}
		else {
			pw.type = "password";
			showpw.style.display = "block";
			hidepw.style.display = "none";
		}
	});
	//Kiểm tra email hợp lệ
	//function IsEmail(email) {
	//	var regex = /^([a-zA-Z0-9_\.\-\+])+\@@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
	//	if (!regex.test(email)) {
	//		return false;
	//	} else {
	//		return true;
	//	}
	//}
	//Kiểm tra trùng tài khoản
	//function checktrung(ttk) {

	//	$.ajax({
	//		type: "POST",
	//		//Gọi hàm CheckTaiKhoanTrung trong Controller Taikhoans
	//		url: "@Url.Action("CheckTaiKhoanTrung", "Taikhoans")",
	//		//Tham số truyền vào
	//		data: { "email": ttk },
	//		success: function(data) {
	//			if (data == false) {
	//				return false;
	//			}
	//			else {
	//				return true;
	//			}
	//		}

	//	});
	//}

	//Kiểm tra các ràng buộc?
	$("form").submit(function(e) {
		var pw = $("#password").val();
		var cfpw = $("#cfpassword").val();
		var email = $("#email").val();
		var chb = $("#agreechb");
		var ttk = $("#ttk").val();
		var error = $("#errordiv");
		if (pw.localeCompare(cfpw) != 0) {
			error.text("Xác nhận mật khẩu không khớp!");
			e.preventDefault();
		}
		if (!chb.is(":checked")) {
			error.text("Vui lòng đồng ý điều khoản sử dụng để đăng ký!");
			e.preventDefault();
		}
		//if (!IsEmail(email)) {
		//	error.text("Vui lòng nhập email hợp lệ!");
		//	e.preventDefault();
		//}
		//if (checktrung(ttk) == false) {
		//	error.text("Email đã tồn tại!");
		//	e.preventDefault();
		//}
	});
</script>

