<div class="card text-center qmkform pb-3" style="box-shadow:0 0 5px;">
	<div class="h4 bg-primary card-header fw-bold p-3 text-white"><i class="bi bi-lock"></i> Quên mật khẩu</div>
	<div class="card-body">
		<form id="formqmk">
			<div class="card-text mb-3" style="font-size:larger;">Nhập mã xác nhận gồm 6 chữ số đã được gửi đến email của bạn. Nếu không tìm thấy, hãy kiểm tra thư spam.</div>
			<div class="text-danger mb-3" id="tbktk" style="display:none;font-size:larger">Không trùng khớp!</div>



	<div class="form-group mb-3 text-start">
		<label for="mxn" class="control-label h4"><i class="bi bi-fingerprint"></i> Mã xác nhận</label>
		<input required id="mxn" type="text" name="email" class="form-control fc h4 w-100" />
	</div>

	<div class="d-flex align-items-center">
		<button class="btn btn-success mb-3 w-100  fw-bold" id="kpmkbtn" type="submit">Khôi phục mật khẩu</button>
	</div>
	</form>
	@*<div class="d-flex align-items-center justify-content-between">
	<a class="btn text-white" style="background-color:#005b9f" asp-action="DangNhap" asp-controller="Taikhoans">Đăng nhập</a>
	<a class="btn text-white" style="background-color:#651fff" asp-action="Create" asp-controller="Taikhoans">Đăng ký</a>
	</div>*@

</div>
</div>
<script>
	$("#formqmk").submit(function(e) {
		e.preventDefault();
	});
	$("#kpmkbtn").click(function(e) {
		var mxn = $("#mxn").val();
		$.ajax({
			type: "POST",
			//Gọi hàm TrungKhopKPMatKhau trong Controller Taikhoans
			url: "@Url.Action("SoSanhMXN", "Taikhoans")",
			//Tham số truyền vào
			data: { "maxacnhan": mxn },
			success: function(data) {

				if (data == false) {

					$("#tbktk").css("display", "block");
				}
				else {
					$("#tbktk").css("display", "none");
					window.location.href = "@Url.Action("KPMatKhau", "Taikhoans")";
				}
			}
		});
	});
</script>